:root {
  --glow-rgb: 239 42 201;
  --purple-gardient: 145deg, rgb(119, 46, 195), rgb(58, 18, 153);
}

body {
  background: linear-gradient(var(--purple-gardient));
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}
